# PostgreSQL
POSTGRES_DB=project_localed_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/project_localed_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password_here

# JWT secret
JWT_SECRET=your_jwt_secret_here
